{% extends 'base.html' %}
{% load static %}
{% block content %}

      <!-- service -->
      <div id="service"  class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> <img src="{% static 'images/head.png' %}" alt="#"/>Nuestros servicios</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'images/thr.png' %}" alt="#"/></i>
                     <h3>Cosmeticos</h3>
                     <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'images/thr1.png' %}" alt="#"/></i>
                     <h3>Nails</h3>
                     <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_chang" class="service_box">
                     <i><img src="{% static 'images/thr2.png' %}" alt="#"/></i>
                     <h3>Pies</h3>
                     <p>some form, by injected humour, or randomised words which don't look even slightly believable. If you are </p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Más...</a>
               </div>
            </div>
         </div>
      </div>
      <!-- service -->
            
{% endblock %}
      